.main-container {
    /* Add some padding for better visual separation */
    padding: 1rem;
  }
  
  .card {
    margin-top: 35px;
    box-sizing: border-box;
    border: 8px solid red;
    position: relative; /* Needed for proper positioning of overlay */
    overflow: hidden; /* Prevent content from overflowing container */
  }
  
  .card-img-overlay {
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    width: 30%;
    height: 40%;
    margin-left: 130px;
    margin-top: 12%;
  }
  
  .card-img-overlay img {
    max-width: 100%; /* Allow image to scale proportionally */
    height: auto;
  }

  .card button{
    border: 3px solid red;
    background-color: #fff8d0;
    border-color: #fff8d0;
    color: #000000;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    font-weight: 700;
  }
  