.main-container {
    /* Add some padding for better visual separation */
    padding: 1rem;
  }
  
  .card {
    margin-top: 35px;
    box-sizing: border-box;
    border: 8px solid red;
    position: relative; /* Needed for proper positioning of overlay */
    overflow: hidden; /* Prevent content from overflowing container */
  }
  
  .card-img-overlay {
    position: absolute; /* Position overlay on top of the card */
    top: 0;
    left: 0; /* Align overlay to top-left corner of the card */
    right: 0;
    bottom: 0; /* Stretch overlay to cover the entire card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically within overlay */
    box-sizing: border-box;
    width: 30%;
    height: 40%;
    margin-left: 150px;
    margin-top: 10%;
  }
  
  .card-img-overlay img {
    max-width: 100%; /* Allow image to scale proportionally */
    height: auto;
  }
  