.main-container .card-video{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main-container .text_video{
    text-align: center;
    font-weight: 400;
    padding: 15px;
}

.main-container .card-video iframe{
    display: flex;
    margin:10px;
    max-width: 350px;
    width: 350px;
    height: auto;
    margin-top: 5px;
    align-items: center;
    box-sizing: border-box;
}

.main-container .card-video .embed-responsive{
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

@media (max-width: 648px) {
    /* Estilos específicos para telas com largura máxima de 368px */
    .main-container .card-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}