
@import url(/Assets/header.css);
.main-container .navbar{
    font-family: var(--fonte-padrao);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    display: block;
    height: 63px;
    padding-left: 38px;
}

.main-container .navbar img{
    width: 99px;
    height: auto;
}

.main-container .navbar ul li{
    padding-left: 15px;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: #1786eb;
}

.d-flex{
    border: 1px solid #757575;
    background-position: center;
    border-radius: 5px;
}
.d-flex .btn{
    background-image: url(/Assets/image/search.svg);
    background-repeat: no-repeat;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 40px;
    width: 68px;
}

.d-flex .form-control{
    background: var(--bk-input);
    border: none;
    width: 287px;
}
.main-container .bannerAds img{
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

