@import url(/Assets/header.css);
@import url(/Assets/banner.css);
:root {
    --cor-branca: #ffffff;
    --bk-input: #f5f5f5;
    --fonte-padrao: Arial, Helvetica, sans-serif;
  }

  body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.main-container{
    background-color: var(--cor-branca);
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
}


